<!DOCTYPE html>
<html>

<title>Statistik der Ausleihe</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="w3.css">

<body>

<div class="w3-container w3-blue">
    <div class="w3-cell-row">
    
		 <h1 class="w3-third"><a href="http://localhost" style="text-decoration: none;">Statistik der Bücherausleihe</a></h1>
   
        <form class="w3-rest w3-right w3-padding-16" action="index.php" method="post">

            <input class="w3-button w3-round w3-light-grey w3-margin-left" type="submit" value="Absolute H&auml;ufigkeiten" name="absoluteFrequency">

            <input class="w3-button w3-round w3-light-grey w3-margin-left" type="submit" value="Alle Eintr&auml;ge anzeigen" name="showall">

        </form>

    </div>
</div>
